html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Chivo;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #808080;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 75px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.navigation {
  font-size: 18px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 26px;
}

.navigation ul {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul.left li {
  display: block;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}

.navigation ul.right li {
  display: block;
  float: left;
  margin-left: 40px;
  cursor: pointer;
}

.logo {
  font-family: Cutive;
  font-size: 30px;
  color: #000000;
  padding-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hero {
  height: 650px;
  width: 100%;
  background: url(img/heroBG.jpg) no-repeat center top / cover;
  position: relative;
}

.blacker {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.heroTitles {
  margin-top: 180px;
}

.heroTitles p {
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.heroTitles span {
  font-family: Cutive;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
  color: #FFFFFF;
}

.discoverButton {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 250px;
  padding: 10px;
  background: #3B8D57;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 115px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 774px) {
  .navigation ul.left li {
    margin-right: 20px;
  }
  .navigation ul.right li {
    margin-left: 20px;
  }
}

@media (max-width: 750px) {
  .navigation ul {
    display: none;
  }
}
